
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-panel{
}
.App-header {
}
html {background-color: #282c34;}
.app {background-color: #282c34;}


.App-link {
  color: #61dafb;
}
.image-card {
  max-width: 5vw;
}
.image-card-s {
  max-width: 3vw;
}
.div-center{
  margin: auto;
}

.image {
  width: auto;
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
